.row {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 26rem 1fr;

  grid-template-areas: "sidebar main";
}

.leftCol {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
}

.rightCol {
  display: flex;
  flex-direction: column;
}
